body {
  font-family: 'Source Sans Pro', sans-serif;
  border: 20px solid #afafaf;
  width: 80%;
  max-width: 700px;
  margin-top: 20px;
  margin: 20px auto;
}


.quote {
  border-left: 4px solid #afafaf;
  padding-left: 10px;
}

.article {
  margin: 20px;
}

hr {
  border-top: 1px dashed #8c8b8b;
}

h1 {
  font-weight: bold;
  font-size: 2.0rem;
}

h3 {
  color: #6dd5f2;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}


