h1 {
  margin: auto;
  width: 50%;
  text-align: center;
}

table {
  padding: 10px;
  margin: 50px;
  width: 100px;
  border: 2px solid black;
}

th {
  padding: 50px;
}



.up {
  border-right: 2px solid black;
}

.center {

}

.down {
  border-top: 2px solid black;
}
